@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    transition-delay: 0ms;
}


/* code for header elements found on all pages */  

.header-elements {
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    color: white;
}

/* end of code for header elements */

/* code for home view sectional text */

.sectionalcontainer p {
    text-align: center;
    font-size: 1vw;
    max-width: 33%;
}

/* end of code for sectional text .. need to remove as it can be converted to tailwind */


/* code needed to add the scroll effect on speaking page */

.maincontainer {
    background-color: white;
    height: 100%;
    transition: 1s ease-in-out;
}

/* code used to change the background color on scroll */
.maincontainer.active {
    background-color: white;
}

/* end of code needed to add scroll effect on speaking page */




/* setting all the sections heights to 100vh.. */
.firstSection, .secondSection, .thirdSection {
    /* height: 100vw; */
    /* border: 3px solid seagreen; */
}

.secondSection {
    /* height: 53vw;
    overflow-y: hidden; */
    /* border: 3px solid red; */
}




/* START first section - image and text start */

/* first section that appears on speaking page.. where image and its container is located */
.firstSection {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
}

/* container that is used to house the the large image and text that is found on the speaking landing page  */
.firstcontainer {
    /* width: 90vw;
    display: flex;
    height: 40vw;
    margin-bottom: 10vw;
    margin-top: 5vw; */
}

/* image that is displayed on the speaking landing page */
.firstcontainer img {
    /* object-fit: cover;
    object-position: center;
    width: 55%;
    height: 100%; */
}

.firstSection h1 {
    /* text-align: left;
    font-size: 1.5vw;
    width: 90%;
    padding-left: 1%;
    color: black; */
}

.firstSection.two h1 {
    /* right: 0; */
    /* border: 3px solid red; */
    /* text-align: right;
    padding-right: 1vw; */
}

.firstSection.two h1 {
    /* border: 3px solid seagreen; */
    /* position: absolute;
    top: 3vw; */
}


.firstcontainer .containerdetails {
    /* flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black; */
    /* background-image: url('https://images.unsplash.com/photo-1573869522166-0eed5b27f2d6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
}

/* design for the h2 on landing page - suppoused to be the largest text */
.containerdetails h2 {
    /* color: white;
    font-size: 4vw;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-weight: bolder;
    font-style: italic; */
    /* border: 3px solid white; */
}

/* design for the h3 on landing page - suppoused to be the smallest text */
.containerdetails h3 {
    /* color: white;
    font-size: 1.75vw;
    text-align: center;
    width: 80%;
    margin: 0 auto 1vw;
    font-style: italic; */
}

/* END first section - image and text */





/* START container that is used to display the images and captions in between first and second sections */
.featuredspeak {
    /* height: 40vw;
    width: 90%;
    margin-bottom: 10px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 5vw;
    gap: 20px; */
}

.featuredevent {
    /* border: 3px solid red; */
    /* height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; */
}

.featuredevent h2 {
    /* font-size: 1.2vw;
    text-align: center;
    color: black;
    width: 60%;
    margin: 0 auto;
    font-style: italic; */
    /* transition: .2s ease-in-out; */
}

.featuredevent h3 {
    /* text-align: center;
    color: black; */
}

.featuredevent .imgcaption.active {
    color: black;
    /* border: 3px solid salmon; */
}

.featuredevent.one img {
    /* height: 50%; */
}

.featuredevent.three img {
    /* height: 60%; */
}

.featuredevent.two img {
    /* height: 80%; */
}

.featuredevent.four img {
    /* height: 70%; */
}

.featuredevent:hover {
    cursor: pointer;
}

.featuredspeak a {
    /* width: 100%;
    background-color: none; */
}

/* END container that is used to display the images and captions in between first and second sections */





/* START second section where diagonal is stored */

.secondSection.active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* START diagonal section */

.diagonal {
    position: relative;
    height: 15vh;
    isolation: isolate;
    transform: skewY(5deg);
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    transform: translateY(150px);
    transition: 1.3s all ease-in-out;
    /* padding-top: 40px; */
  }

  /* .diagonal.active {
    opacity: 100%;
    transform: translateY(0);
  }

  
  .diagonal::after {
      content: '';
      background-image: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
      position: absolute;
      inset: 0;
      z-index: -10;
      transform: skewY(-10deg);
    }

  .diagonal h2 {
    width: 33%;
    height: 100%;
    transform: skewY(-5deg);
    color: white;
    text-align: center;
    margin-top: 7%;
    font-size: 1.3vw;
} */


.diagonal.two {
    transform: translateY(150px);
    margin-top: 15vw;
    opacity: 0%;
    height: 20vw;
    transition: 1.3s all ease-in-out;
  }

  .diagonal.two.active {
    opacity: 100%;
    transform: translateY(0);
    /* transform: translateY(0); */
  }

  
  .diagonal.two::after {
      content: '';
      /* background-image: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9); */
      background-image: url('https://images.unsplash.com/photo-1573869522166-0eed5b27f2d6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      inset: 0;
      z-index: -10;
      transform: skewY(-15deg);
      /* background: gainsboro; */
    }
    

    .diagonal.two h2 {
        width: 35%;
        height: 100%;
        transform: skewY(-5deg);
        color: white;
        text-align: center;
        margin-top: 10%;
        font-size: 1.5vw;
    }

/* diagonal h2 design
.secondSection h2 {
    color: blue;
    max-width: 40%;
    margin: 0 auto;
} */

/* END diagonal section */

/* END second section where diagonal is stored */


.firstSection.two {
    /* background-color: white;
    position: relative;
    margin-top: 7%; */
}

.featuredspeak.two {
    /* margin-top: 5vw;
    margin-bottom: -1vw; */
    /* border: 3px solid red; */
}

.firstSection.two .firstcontainer.two {
    border: none;
}

.featuredspeak.two .featuredevent h2 {
    /* font-size: 1.4vw;
    font-style: normal;
    width: 100%; */
}

.featuredspeak.two .featuredevent h3 {
    /* padding-top: 3px;
    font-size: 1vw;
    font-style: italic; */
}

.firstSection.two .containerdetails {
    /* background-color: black; */
}

.firstSection.two .containerdetails h2 {
    /* color: white; */
}

.firstSection.two .containerdetails h3 {
    /* color: red; */
}




/* START contact us container */


/* .second {
    background-image: url('../assets/stripes-light.webp');
} */
/* .textdesign:nth-child(1) {
    border: none;
    background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fHB1cnBsZSUyMGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
}

.sectionalcontainer.four .textdesign {
    background-image: url('https://images.unsplash.com/photo-1618397746666-63405ce5d015?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    border: none;
} */
/* .textdesign::before, .textdesign::after {
    content: '';
    position: absolute;
    width: 99%;
    height: 20px;
    background: purple;
    left: 0;
    border-radius: 0 0 240px 50%/60px;
}

.textdesign::before {
    top: 0;
}

.textdesign::after {
    bottom: 0;
} */