@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { min-width:50px }
  /* html, body { @apply bg-white text-zinc-400; } */
  .wrapper {
    @apply mx-auto max-w-2xl px-4 sm:px-6  lg:max-w-7xl lg:px-8;
  }
}


* {
  box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f6f6f6;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem; 
  /* border: 3px solid black; */
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

body::-webkit-scrollbar {
  display: none;
}

.active-link {
  color: rgb(244 63 94);
  font-weight: 700;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}